
{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Trade Report</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
  <div class="main">
    <div class=heading>
      <h1> Risk Metrics </h1>
    </div>
    
{% for value in data.traders %}
<div id='container {{forloop.counter}}' class="screen">

  <div class="chart">
    <h2 class="char-heading">{{value}}</h2>
<div class="pie" data-start="0" data-value="30"></div>
<div class="pie highlight" data-start="30" data-value="30"></div>
<div class="pie" data-start="60" data-value="40"></div>
<div class="pie big" data-start="100" data-value="260"></div>
</div>

<div class="stat">
  <table>
    <tr>
      <th>Heading</th>
      <th>Values</th>
    </tr>
    <tr>
      <td>Trader ID</td>
      <td>{{data.ids}}</td>
    </tr>
    <tr>
      <td>Joining Date</td>
      <td>{{data.joined}}</td>
    </tr>
    <tr>
      <td>Quantity of Sell</td>
      <td>{{data.sell_qty}}</td>
    </tr>
    <tr>
      <td>Quantity of Buy</td>
      <td>{{data.buy_qty}}</td>
    </tr>
    <tr>
      <td>Buy Count</td>
      <td>{{data.buy_count}}</td>
    </tr>
    <tr>
      <td>Sell Count</td>
      <td>{{data.sell_count}}</td>
    </tr>
    
    <tr>
      <td>Net Trade</td>
      <td>{{data.net}}</td>
    </tr>
   
    <tr>
      <td>Risk Factor with Deviation 2.0</td>
      <td>{{data.risk}}</td>
    </tr>
    <tr>
        <td>Ratio</td>
        <td>{{data.buy_count}} : {{data.sell_count}}</td>
    </tr>
  </table>
</div>

</div>
{% endfor %}
    </div>
</body>
</html>