
{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Trade Report</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
  <div class="main">
    <div class="wrap">
      <span class="decor"></span>
      <nav>
        <ul class="primary">
          <li>
            <a href="">Trader Name</a>
            <ul class="sub">
              {% for name in data.traders %}
              <li><a href="">{{name}}</a></li>
               {% endfor %}
            </ul>
          </li>
          <li>
            <a href="">Trader IDs</a>
            <ul class="sub">
              {% for name in data.ids %}
                <li><a href="">{{name}}</a></li>
                {% endfor %}
            </ul>
          </li>
         
        </ul>
      </nav>
     </div>  
     
<!-- sodnfaf -->
{% for value in data.traders %}
<div id='container {{forloop.counter}}' class="screen">

  <div class="chart">
    <h2 class="char-heading">{{value}}</h2>
<div class="pie" data-start="0" data-value="30"></div>
<div class="pie highlight" data-start="30" data-value="30"></div>
<div class="pie" data-start="60" data-value="40"></div>
<div class="pie big" data-start="100" data-value="260"></div>
</div>

<div class="stat">
  <table>
    <tr>
      <th>Heading</th>
      <th>Values</th>
    </tr>
    <tr>
      <td>Net Profit</td>
      <td>{{data.profit}}</td>
    </tr>
    <tr>
      <td>Net Trade</td>
      <td>{{data.net}}</td>
    </tr>
    <tr>
      <td>Mostly Used Currency</td>
      <td>USD</td>
    </tr>
    <tr>
      <td>Expenses</td>
      <td>{{data.exp}}</td>
    </tr>
  </table>
</div>

</div>
{% endfor %}
    </div>
</body>
</html>